/* Fondo negro y texto blanco para la navbar */
.bg-black {
  background-color: black !important;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand,
.navbar-dark .navbar-text {
  color: white;
}

/* Estilo para el título del gimnasio */
.tituloGimnasio {
  border-left: 1px solid white;
  padding-left: 10px;
  margin: 0;
}

/* Estilo para las opciones del menú */
.menuOpciones {
  justify-content: flex-end;
  margin-right: 150px;
  padding: 10px;
}

/* Ajuste para el dropdown del menú */
.navbar-expand-sm .navbar-nav .dropdown-menu {
  justify-content: flex-end;
}

/* Estilos para la imagen del logo */
.logoGimnasio {
  border-radius: 15%;
  width: 200px;
  height: 194px;
}

  .curso_titulo {
    border-bottom: 1px solid black;
    padding-bottom: 50px;
  }

  .card {
    border: 5px solid var(--bs-card-border-color);
  }

  .imagenes-ScrollSection {
    border-top: 2px solid white;
    padding-top: 50px;
  }


*, *::before, *::after {
  box-sizing: border-box;
}

footer{
  position: relative;
  top: 2vw;
}

.navScrollSpy {
  position: fixed;
}

.imagenes-ScrollSection {
  width: 550px;
  height: 440px;
}
